* {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  color: #101;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 110%;
}
.wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100vh;
}
h1, h2, h3 {
  font-weight: lighter;
  margin: 1ex auto;
  text-shadow: 0 0, 1pt 1pt #999;
}
h1 {
  font-size: 275%;
}
p {
  margin: 1ex 0;
}
header, .main, footer {
  padding: 0 1em;
}
header {
  background-color: #ddd;
}
header img {
  width: 200px;
  float: right;
  margin: -100px;
}
footer {
  background-color: #ddd;
  color: #999;
  font-size: 75%;
  padding: 0.5ex;
  text-align: center;
}
footer a {
  color: #999;
}
.head-title {
  min-height: 100px;
}
.main {
  flex: 1;
}
.main p:first-child {
  margin-right: 110px;
}
.meetup {
  margin: 1ex 0;
}
.presentation {
  background-color: #ddd;
  border-radius: 5px; 
  display: block;
  margin: 1ex 0;
  padding: 1ex 1em;
}
.pres_goodies a {
  background-color: #bbb;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  margin-top: .5ex;
  padding: .5ex 0;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}
.pres_goodies a {
  margin-left: 3.5%;
  width: 31%;
}
.pres_goodies a:first-child {
  margin-left: 0;
}
/* experiment */
.members {
  margin-top: 1ex;
}
.members img {
  width: 64pt;
  height: 64pt;
  border-radius: 5px;
  margin-left: 1ex;
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}
.members img:first-child {
  margin-left: 0;
}
.members img:hover {
  filter: none;
  -webkit-filter: none;
}
