* {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  color: #101;
  font-family: Verdana, Arial, sans-serif;
  font-size: 110%;
}
.wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100vh;
}
h1, h2 {
  border-bottom: 1px solid black;
  font-weight: lighter;
  margin: 1ex auto;
  text-shadow: 0 0, 1pt 1pt #999;
}
h1 {
  font-size: 275%;
}
p {
  margin: 1ex 0;
}
header, .main, footer {
  padding: 0 1em;
}
header {
  background-color: #ddd;
}
footer {
  background-color: #ddd;
  font-size: 90%;
  padding: 0.5ex;
}
footer a {
  color: #999;
}
.main {
  flex: 1;
}
.meetup {
  margin: 1ex 0;
}
.presentation {
  background-color: #eee;
  border-radius: 5px; 
  display: block;
  margin: 1ex 0;
  padding: 1ex 1em;
}
.pres_goodies a {
  background-color: #333;
  border-radius: 5px; 
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  width: 31%;
}
.pres_goodies a {
  margin-right: 3.5%;
}
.pres_goodies a:last-child {
  margin-right: 0px;
}
